.main-task{
    display: flex;
    justify-content: space-between;
    background-color: #1b1c20;
    gap: 3px;
    width: 250px;
    height: 40px;
    margin: 20px 0;
    padding: 10px 5px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
}